{% extends "base_template.jinja" %}

{% block command %}
{{ super() }}
wbi align --input_folder {{input_folder}} --output_folder {{ output_folder }}
{%- if background_file %} --background_file {{ background_file }}{% endif %}
{% endblock %}
