#!/bin/bash
#SBATCH --job-name=wbi-{{ template_name }}
#SBATCH --time={{ timelimit or '00:20:00' }}

#SBATCH --nodes=1
#SBATCH --tasks-per-node=1
#SBATCH --cpus-per-task=1
#SBATCH --mem-per-cpu=16M

module load anaconda3/2023.9
conda activate /projects/LEIFER/communalCode/wbi/envs/wbi
wbi centerline --input_folder {{input_folder}} {% if max_frames %} --max-frames {{ max_frames }}{% endif -%}
{% if plot %} --plot{% endif -%}
