{% extends "wbi_command.jinja" %}

{% block command %}
{{ super() }}
wbi flash_finder --input_folder {{input_folder}} --output_folder {{output_folder}} --chunksize {{ chunksize or 4000 }}
{% endblock %}
