#!/bin/bash
#SBATCH --job-name=wbi-{{ template_name }}

#SBATCH --nodes=1
#SBATCH --tasks-per-node=1
#SBATCH --cpus-per-task=1
#SBATCH --mem-per-cpu=16M

python -c "import socket; print('Hello ' + socket.gethostname());"
